     		<footer style="display: flex; align-items:center; justify-content:center">
        <p>Cruz, Martín Ignacio - DNI: 45327608 - LU: APU005545</p>
        <p>Romero, Facundo José - DNI: 44898160 - LU: APU005609</p>
        <p>Velasquez Nicolas Santiago - DNI: 45761625 - LU: APU005804</p>
        <p>Virreyra Ruiz, Josue Natanael - DNI: 44857371 - LU: APU005613</p>
    </footer>
	   <script src="/js/main.js"></script>
    </body>
</html>